.sidebar {
  background: #d6e5dc;

  max-height: 100vh;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 1px solid #ddd;
}

.logo {
  font-weight: bold;
  margin-bottom: 20px;
}

.nav-btn {
  background: none;
  border: none;

  border-radius: 5px;

  padding: 10px;
  text-align: left;
  cursor: pointer;

  font-size: 1rem;
}

.nav-btn:hover {
  background: rgba(0, 0, 0, 0.076);
}

.nav-btn.active {
  background: rgb(29, 72, 29);
  color: white;
  border-radius: 5px;
}
